.assets
.env
*.pyc
dist/
build/
docs/.vitepress/cache
docs/.vitepress/dist
docs/node_modules
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
__pycache__/
poetry.lock
.pytest_cache/
tests/
botpy.log
.DS_Store